#send-to-thl
{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #f1f1f1 0%,#e1e1e1 100%); /* W3C */

	border: 1px solid #c0c0c0;
	border-radius: 3px;
	color: #555;
	cursor: pointer;
	display: block;
	font-size: 1.2em;
	padding: 5px 15px 5px 50px;
	position: relative;
}

#send-to-thl:before
{
	background: url('chrome-extension://__MSG_@@extension_id__/images/thl-32.png') no-repeat top left;
	content: '';
	display: inline-block;
	left:10px;
	height:32px;
	position: absolute;
	top:0px;
	width: 32px;
	z-index: 1;
}

#send-to-thl:hover
{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e1e1e1 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #e1e1e1 0%,#eeeeee 100%); /* W3C */
	text-decoration: none;
	border-color: #999;
}
